<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target xsi:type="File" name="PrimaryLogFile"
          layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}"
          fileName="C:\Logs\console\console-${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}.log"
          archiveFileName="C:\Logs\console\console.archive.{#}.log"
          archiveEvery="Day"
          archiveNumbering="Date"
          archiveDateFormat="yyyy-MM-dd HH-mm-ss"
          maxArchiveFiles="10"/>
			<target xsi:type="Console"
          name="ConsoleLog"
          layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString,Data}"
          detectConsoleAvailable="true" />
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="PrimaryLogFile"/>
			<logger name="*" minlevel="Debug" writeTo="ConsoleLog"/>
		</rules>
	</nlog>
</configuration>